.advance-statistics-section {
  padding: 85px 25px 75px;
  background-color: var(--Pale-gray);
  text-align: center;
}
.advance-statistics-section h2 {
  font-size: 1.6rem;
  margin: 10px 0;
}
.advance-statistics-section p {
  font-size: 0.925rem;
  line-height: 1.5rem;
  color: var(--Grayish-Violet);
  font-weight: 500;
}
.card-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 85px;
  position: relative;
  backdrop-filter: opacity(0.5);
}
.card-line {
  position: absolute;
  background-color: var(--Cyan);
  width: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 25px;
  border-radius: 3px;
  gap: 25px;
  height: 310px;
}
.card-image-container {
  background-color: var(--Dark-Violet);
  width: 85px;
  height: 85px;
  padding: 18px;
  border-radius: 50%;
  margin-top: -65px;
}
.card-title {
  font-weight: 700;
  font-size: 1.2rem;
}
