.boost-section {
  position: relative;
  background-color: var(--Dark-Violet);
  height: 300px;
}
.boost-text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 110px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.boost-text-container h3 {
  color: var(--Pale-gray);
  font-size: 1.55rem;
}
.boost-text-container button {
  background-color: var(--Cyan);
  color: var(--Pale-gray);
  font-size: 1.1rem;
  padding: 13px 0;
  border-radius: 30px;
  font-weight: 700;
  width: 195px;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.boost-text-container button:hover {
  background-color: var(--light-cyan);
}
.boost-section img {
  height: 100%;
}
@media (min-width: 1024px) {
  .boost-section {
    height: 260px;
  }
  .boost-text-container {
    height: 140px;
  }
  .boost-text-container h3 {
    font-size: 2.15rem;
  }
}
