footer {
  background-color: var(--Very-Dark-Violet);
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .logo-container {
  width: auto;
}
footer .logo-container path {
  fill: white;
}
.main-footer-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 25px;
}
.main-footer-menu li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-menu-title {
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
}
.footer-submenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-submenu li {
  color: var(--Grayish-Violet);
  font-size: 0.65rem;
}
footer .social-media-menu {
  list-style: none;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
footer .social-media-menu li {
  width: 20px;
}
footer .social-media-menu li a {
}
