footer {
  background-color: var(--Very-Dark-Violet);
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .logo-container {
  width: auto;
}
footer .logo-container path {
  fill: white;
}
.main-footer-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 45px;
}
.main-footer-menu li {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: color 0.2s ease-in;
  cursor: pointer;
}
.main-footer-menu li:hover {
  color: var(--Cyan);
}
.footer-menu-title {
  color: white;
  font-size: 0.85rem;
  font-weight: 500;
}
.footer-submenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-submenu li {
  color: var(--Gray);
  font-size: 0.85rem;
}
footer .social-media-menu {
  list-style: none;
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
footer .social-media-menu li {
  width: 23px;
  cursor: pointer;
}
footer .social-media-menu li a svg path {
  transition: all 0.2s ease-in;
}
footer .social-media-menu li a svg:hover path {
  fill: var(--Cyan);
}
@media (min-width: 600px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .logo-container {
    width: 100%;
    text-align: left;
  }
  .main-footer-menu {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-footer-menu li {
    flex: 1;
  }
  footer .social-media-menu {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  footer {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .logo-container {
    width: 33%;
  }
  footer .main-footer-menu {
    width: 46%;
    margin-top: 0;
  }
  footer .main-footer-menu li {
    align-items: flex-start;
  }
  footer .social-media-menu {
    width: auto;
    margin-top: 0;
    width: 18%;
    justify-content: space-around;
  }
  .footer-submenu li {
    align-items: flex-start;
  }
}
@media (min-width: 1024px) and (max-width: 1150px) {
  footer {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 1151px) {
  footer {
    padding-left: 160px;
    padding-right: 160px;
  }
}
