header {
  padding: 30px 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  width: 110px;
}
#menu-icon {
  font-size: 1.875rem;
  color: var(--Grayish-Violet);
}
.main-navbar {
  position: fixed;
  top: 70px;
  left: 20px;
  right: 20px;
  border-radius: 10px;
  background-color: var(--Dark-Violet);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 15px;
  gap: 25px;
  transform: perspective(500px) rotateY(-90deg);
  transition: all 0.3s ease-in;
}
.rotateIn-navbar {
  transform: rotateZ(0deg);
}
.main-navbar-links,
.main-navbar-authenticate {
  display: inherit;
  flex-direction: inherit;
}
.main-navbar-links {
  gap: inherit;
}
.main-navbar-authenticate {
  gap: 15px;
}
.main-navbar li {
  width: 100%;
  padding: 3%;
  text-align: center;
  transition: all 0.2s ease-in;
}
.sign-up {
  background-color: var(--Cyan);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.main-navbar li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Poppins";
}
.main-navbar hr {
  width: 100%;
  border: 0.5px solid hsl(257deg 5.14% 35.1%);
}
.main-navbar-authenticate {
  width: 100%;
}

@media (min-width: 600px) {
  header {
    padding: 20px 50px;
  }
  .main-navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-navbar hr {
    display: none;
  }
  .main-navbar-authenticate {
    width: 35%;
  }
  .main-navbar-links {
    width: 45%;
  }
  .main-navbar li {
    padding: auto;
  }
  .main-navbar li a {
    font-size: 0.8rem;
  }
}
@media (min-width: 1024px) {
  header {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-nav {
    height: 120px;
  }
  .logo-container {
    flex: 1;
  }
  #menu-icon {
    display: none;
  }
  .main-navbar {
    background-color: transparent;
    position: relative;
    top: 0;
    padding: 0;
    flex-direction: row;
    flex: 10;
    justify-content: space-between;
  }
  .main-navbar-links {
    display: flex;
    width: 275px;
    margin-left: 40px;
  }
  .main-navbar li a {
    color: var(--Grayish-Violet);
    transition: color 0.2s ease-in;
  }
  .main-navbar li a:hover {
    color: var(--Very-Dark-Violet);
  }
  .main-navbar-authenticate {
    display: flex;
    width: 245px;
  }
  .main-navbar-authenticate .sign-up a {
    color: white;
  }
  .main-navbar-authenticate .sign-up:hover {
    background-color: var(--light-cyan);
  }
}
@media (min-width: 1024px) and (max-width: 1150px) {
  header {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 1151px) {
  header {
    padding-left: 160px;
    padding-right: 160px;
  }
}
