.shorten-url-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: var(--Gray);
  margin-top: 20%;
}
.shorten-url-section .form-container {
  min-height: 20vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: var(--Dark-Violet);
  border-radius: 10px;
  width: 87%;
  margin: -20% auto auto;
}
.shorten-url-section .form-container form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  backdrop-filter: opacity(0.5);
  
}
.shorten-url-section .form-container img {
  position: absolute;
  left: 50px;
  top: -50px;
  z-index: -1;
}
.shorten-url-section #url-string,
.shorten-url-section form input[type="submit"] {
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4%;
}
.shorten-url-section #url-string {
  border: none;
  outline: none;
  transition: outline 0.2s ease-in;
}
.shorten-url-section .form-container .url-error {
  font-size: 0.7rem;
  color: var(--Red);
  margin-top: 8px;
  display: none;
  font-style: italic;
}
.shorten-url-section .form-container #url-string:invalid {
  outline: 3px solid var(--Red);
}
.shorten-url-section form input[type="submit"] {
  text-align: center;
  background-color: var(--Cyan);
  color: white;
  display: block;
  font-weight: 700;
  margin-top: 13px;
}
.show-error {
  display: block !important;
}
.url-shorten-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  width: 87%;
  margin: auto;
}
.url-shorten-content div {
  padding: 15px;
}
.url-shorten-content div:nth-child(2) {
  border-top: 1px solid var(--Gray);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.url-shorten-content .original-url,
.url-shorten-content .shorten-url {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
}
.url-shorten-content .original-url {
  color: var(--Very-Dark-Violet);
}
.url-shorten-content .shorten-url {
  color: var(--Cyan);
}
.url-shorten-content .copy-url-button {
  display: block;
  background-color: var(--Cyan);
  padding: 3%;
  color: white;
  border-radius: 4px;
  width: 100%;
  font-weight: 500;
}
.copied-url-button{
  background-color: var(--Dark-Violet);
}