@import url("./colors.css");
@import url("./header.css");
@import url("./getStartet.css");
@import url("./shortenUrl.css");
@import url("./advanceStatistics.css");
@import url("./boost.css");
@import url("./footer.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
  font-size: 18px;
}
body {
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
button, form input{
  border: none;
}
.navbar-collapse{
  display: none;
}