@import url("./colors.css");
@import url("./header.css");
@import url("./getStartet.css");
@import url("./shortenUrl.css");
@import url("./advanceStatistics.css");
@import url("./boost.css");
@import url("./footer.css");

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url("../fonts/Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 18px;
}
body {
  position: relative;
  font-family: "Poppins";
}
img {
  width: 100%;
  height: auto;
}
